<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>sync</title>
	<meta name="description" content="syncは同期間のあんなことやこんなことの掃き溜めとなる場所を提供するサービスです。">
	<meta property="og:title" content="sync">
	<meta property="og:type" content="website">
	<meta property="og:url" content="#">
	<meta property="og:image" content="images/common/sync.png">
	<meta property="og:site_name" content="sync">
	<meta property="og:description" content="syncは同期間のあんなことやこんなことの掃き溜めとなる場所を提供するサービスです">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon" href="images/common/sync.png">
	<link rel="shortcut icon" href="images/common/favicon.ico">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=DM+Serif+Text|Montserrat:200,300,400,500,600|Noto+Sans+SC:300,400,500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
	
<!--	header-->
	<header class="header bg-green">
		<h1>
			<a href="./index.html">
				<span class="logo">sync</span>		
			</a>
		</h1>
	</header>
<!--	/header-->
	
<!--	main-->
	<main>
		<h2 class="text-center title">みんな何してる？</h2>
		<div class="tweet-box">
			<ul>
				<li class="date">
					2018-09-09 21:21
				</li>
				<li class="body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				</li>
			</ul>
		</div>
		
		<div class="tweet-box">
			<ul>
				<li class="date">
					2018-09-09 21:21
				</li>
				<li class="body">
					お腹痛い。帰りたい。疲れた。気持ち悪い。溶けそう。
				</li>
			</ul>
		</div>

		<div class="tweet-box">
			<ul>
				<li class="date">
					2018-09-09 21:21
				</li>
				<li class="body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				</li>
			</ul>
		</div>

		<div class="tweet-box">
			<ul>
				<li class="date">
					2018-09-09 21:21
				</li>
				<li class="body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				</li>
			</ul>
		</div>

		<div class="tweet-box">
			<ul>
				<li class="date">
					2018-09-09 21:21
				</li>
				<li class="body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				</li>
			</ul>
		</div>

		<div class="tweet-box">
			<ul>
				<li class="date">
					2018-09-09 21:21
				</li>
				<li class="body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				</li>
			</ul>
		</div>

		<div class="tweet-box">
			<ul>
				<li class="date">
					2018-09-09 21:21
				</li>
				<li class="body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				</li>
			</ul>
		</div>

		<div class="tweet-box">
			<ul>
				<li class="date">
					2018-09-09 21:21
				</li>
				<li class="body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				</li>
			</ul>
		</div>

		

	
	</main>
	
	
<!--	/main-->
	
<!--	footer-->
	<footer>
		<button class="btn write-btn bg-green">
			<i class="fas fa-edit fa-wf"></i>
			<span class="btn-name">write</span>
		</button>

		<div class="overRay write-screen active">
			<form action="" method="post">
				<button type="submit" class="btn send-btn bg-green">
					<i class="far fa-share-square fa-wf"></i>
					<span class="btn-name">send</span>
				</button>
				<textarea class="write-area" name="tubuaki" rows="5" placeholder="なにしてる？"></textarea>
			</form>
		</div>
	</footer>
<!--	/footer-->
</body>
</html>
